.follow-us {
  margin-right: 93px;
}
.follow-us > p {
  margin-bottom: 20px;

  color: var(--white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.follow-us__list {
  display: flex;
  gap: 10px;
}
.icon__link--footer {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
